__pycache__

*/gigahorse-toolchain/.temp
*/gigahorse-toolchain/cache
*/gigahorse-toolchain/contracts
*/gigahorse-toolchain/res
*/gigahorse-toolchain/*.out
*/gigahorse-toolchain/results.json

*.log
.vscode

.DS_Store

output/

gigahorse-toolchain/contracts